header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 0.2rem solid #EB5E28;
  z-index: 1000;
}
header img {
  width: 20%;
  height: auto;
  margin-left: 5%;
}
header ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
header ul li {
  list-style: none;
  text-align: center;
}
header ul li:hover {
  transform: scale(1.05);
}
header ul li a {
  color: #fff;
  background-color: #EB5E28;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
header ul li a:hover {
  background-color: #e44f15;
}
@media (max-width: 850px) {
  header {
    display: block;
    align-items: center;
  }
  header img {
    width: 50%;
    margin-left: 0;
  }
  header ul {
    gap: 1rem;
    margin-right: 0;
  }
}

footer {
  background-color: #EB5E28;
  color: #252422;
  font-weight: bold;
  padding: 0.5rem 0;
}
footer div {
  text-align: center;
  margin: 0 5%;
}
footer div p {
  text-align: center;
}
@media (max-width: 850px) {
  footer div {
    margin: 0 2%;
  }
}

.hero-all {
  position: relative;
  text-align: center;
}
.hero-all img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 0.75rem #CCC5B9;
}
.hero-all .hero-all-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EB5E28;
  background: #fff;
  padding: 1%;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  box-shadow: 0.75rem 0.75rem #EB5E28;
}
@media (max-width: 850px) {
  .hero-all img {
    height: 20vh;
  }
  .hero-all .hero-all-title {
    font-size: 1.2rem;
    padding: 1.5%;
  }
}

body {
  background-color: #fff;
  color: #252422;
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  width: 100%;
}
body p {
  font-family: "Nunito Sans";
  text-align: justify;
}

.hero {
  display: flex;
  gap: 10%;
  padding: 1rem 0;
  width: 85%;
  height: auto;
  margin: auto;
}
.hero img {
  width: 50%;
  height: auto;
  box-shadow: 0.35rem 0.35rem 0.35rem;
  object-fit: cover;
  overflow: hidden;
}
@media (max-width: 850px) {
  .hero {
    flex-direction: column;
  }
  .hero img {
    width: 100%;
  }
}

.hero-body {
  width: 75%;
  height: auto;
}
.hero-body h1 {
  color: #252422;
  font-size: 3.5rem;
}
.hero-body p {
  color: #252422;
  font-size: 1.2rem;
}
@media (max-width: 850px) {
  .hero-body {
    width: 100%;
  }
  .hero-body h1 {
    font-size: 2rem;
  }
  .hero-body p {
    font-size: 1rem;
  }
}

.aside {
  background-color: #EB5E28;
  display: flex;
  gap: 3%;
  margin: 2.5% auto;
  align-items: center;
  padding: 2.5%;
}
.aside img {
  width: 45%;
  height: auto;
}
.aside .aside-body {
  width: 55%;
  height: auto;
  margin: 2.5%;
}
.aside .aside-body h1 {
  color: #fff;
  font-size: 4rem;
}
.aside .aside-body li {
  list-style: none;
  width: 35%;
  text-align: center;
}
.aside .aside-body li:hover {
  transform: scale(1.05);
}
.aside .aside-body li a {
  color: #EB5E28;
  background-color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
}
.aside .aside-body li a:hover {
  background-color: #f2f2f2;
}
@media (max-width: 850px) {
  .aside {
    flex-direction: column;
    text-align: center;
  }
  .aside img {
    display: none;
  }
  .aside .aside-body {
    width: 100%;
    padding: 2%;
    margin: auto;
  }
  .aside .aside-body h1 {
    font-size: 1.5rem;
  }
  .aside .aside-body li {
    margin: auto;
    padding: 1rem 1rem;
  }
  .aside .aside-body li a {
    font-size: 100%;
    padding: 1rem 1.5rem;
  }
}

.extra-information {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.extra-information img {
  width: 25%;
  height: auto;
}
.extra-information .info-box {
  display: flex;
  gap: 5%;
  align-items: center;
}
.extra-information .info-box h2 {
  color: #EB5E28;
  font-weight: bolder;
  font-size: 2rem;
}
.extra-information .info-box h3 {
  width: 85%;
  padding: 2.5%;
  margin: auto;
  margin-top: 2.5%;
  color: #fff;
  background-color: #403D39;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0.75rem 0.75rem #CCC5B9;
}
.extra-information .info-box p {
  font-size: 1.2rem;
}
.extra-information .info-box img {
  position: relative;
}
@media (max-width: 850px) {
  .extra-information img {
    display: none;
  }
  .extra-information .info-box {
    flex-direction: column;
  }
  .extra-information .info-box h2 {
    font-size: 1.5rem;
  }
  .extra-information .info-box h3 {
    font-size: 1.2rem;
  }
  .extra-information .info-box p {
    font-size: 1rem;
  }
}

.services-page {
  width: 85%;
  height: auto;
  margin: auto;
  padding: 5% 0;
}
.services-page h2 {
  text-align: center;
  font-size: 3rem;
}
.services-page h3 {
  color: #EB5E28;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  padding-top: 2.5%;
}
.services-page p {
  padding-top: 2.5%;
  font-size: 1.2rem;
}
@media (max-width: 850px) {
  .services-page h2 {
    font-size: 2.5rem;
  }
  .services-page h3 {
    font-size: 1.5rem;
  }
  .services-page p {
    font-size: 1rem;
  }
}

.service-text {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 85%;
  height: auto;
  margin: auto;
  padding: 2.5% 0;
}
.service-text .card {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 2rem);
  background: #fff;
  box-shadow: 0.25rem 0.25rem 0.25rem #403D39;
  overflow: hidden;
}
.service-text .card:hover {
  transform: scale(1.01);
}
.service-text .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.service-text .card .text-item {
  padding: 1rem;
}
.service-text .card .text-item h1 {
  color: #EB5E28;
}
@media (max-width: 850px) {
  .service-text {
    flex-direction: column;
  }
  .service-text .card {
    width: 100%;
  }
}

.service-images {
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 2.5%;
}
.service-images div {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}
.service-images div img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
@media (max-width: 850px) {
  .service-images {
    flex-direction: column;
  }
}

.gallery-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}

.gallery-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-info {
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

.gallery-name {
  font-weight: bold;
}

.gallery-price {
  color: #888;
}

.gallery-details {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.gallery-container:hover {
  transform: scale(1.05);
}

.gallery-container.active .gallery-details {
  display: block;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-container button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-container button:hover {
  background-color: #555;
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: auto;
  padding: auto;
  gap: 2.5%;
}

.gallery-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.gallery-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.gallery-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-details {
  padding: 15px;
}

.gallery-details h2 {
  margin: 0;
  font-size: 1.2em;
}

.gallery-details p {
  margin: 10px 0 0;
  color: #666;
}

.gallery-info {
  padding: 15px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-name {
  font-weight: bold;
  font-size: 1.1em;
}

.gallery-price {
  color: #EB5E28;
  font-weight: bold;
}

@media (max-width: 768px) {
  .gallery-container {
    width: calc(100% - 20px);
  }
  .gallery-section {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .gallery-container {
    width: calc(100% - 20px);
  }
  .gallery-section {
    flex-direction: column;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, .caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.contact-section {
  width: 85%;
  margin: 5% auto 7.5%;
}
.contact-section h1 {
  color: #252422;
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 0.2rem solid #EB5E28;
  color: #EB5E28;
}
.contact-section p {
  font-family: "Nunito Sans";
  text-align: justify;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.contact-container {
  display: flex;
  gap: 5%;
}
.contact-container form {
  width: 50%;
  height: auto;
}
.contact-container form input, .contact-container form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}
.contact-container form label {
  font-size: 1.2rem;
}
.contact-container form button {
  color: #fff;
  background-color: #EB5E28;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  border: none;
  padding: 0.75rem;
  width: 65%;
}
.contact-container form button:hover {
  background-color: #e44f15;
}
.contact-container form button:hover {
  transform: scale(1.05);
}
.contact-container .map {
  width: 50%;
  height: auto;
}
.contact-container .map iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0.75rem 0.75rem 0.75rem rgba(64, 61, 57, 0.3);
}

@media (max-width: 850px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-container form {
    width: 85%;
  }
  .contact-container .map {
    display: none;
  }
}
.contact-info {
  display: flex;
  padding: 5%;
  margin: 0;
  background-color: #403D39;
  color: #fff;
  justify-content: space-between;
}
.contact-info div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 850px) {
  .contact-info {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */